/* 
* {
    outline: 1px solid red;
} */

body, div, h1 { margin:0; padding:0 }

.wrapper {
    min-height: 100vh;
}

.sticky {
    position: sticky;
}

.rounded-badge {
    border-radius: 99px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #93c5fd;
    background-color: #1e3a8a;
}

.purple-badge {
    color: #b8c4ff;
    background-color: #312e81;
}

.green-badge {
    color: #6ee7b7;
    background-color: #064e3b;
}

.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
background-color: #333;
}

.lightBg {
    background-image: url("assets/img/mar-blanco-de-nubes-szabo-viktor.jpg");
    background-size:cover;
}

.darkBg {
    background-image: url("assets/img/szabo-viktor-PzQ79xr7p78.jpg");
    background-size:cover;
}

.rectangles-pattern {
    --s: 180px; /* control the size */
    --color-1: #222;
    /* #544929; */
    --color-2: #e0a500;
    /* #ffbf00; */

    background:
        linear-gradient(135deg,#0000 18.75%, var(--color-1) 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,var(--color-1) -6.25% 6.25%, var(--color-2) 0 18.75%);
    background-size: var(--s) var(--s);
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-evenly {
    display: flex;
    justify-content:space-evenly;
}

.padding-contact {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.width-100 {
    width: 100%;
}

.margin-15px {
    margin: 15px;
}

.margin-24px {
    margin-right: 24px;
    margin-left: 24px;
}

.margin-top-1 {
    margin-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.padding-15px {
    padding: 15px;
}

.padding-25px {
    padding: 25px;
}

.border-radius-7px {
    border-radius: 7px;
}


.windowslike {
/* width: 20rem; */
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
border-radius: 7px;
background-color: rgba(255, 255, 255, .15);
backdrop-filter: blur(5px);
padding: 10px;
}

.review {
margin: 0;
display: grid;
justify-content: center;
align-content: center;
padding: 5px;
}

.top-bar {
display: flex;
justify-content: space-between;
padding-bottom: 10px;
}

.transparent-color-bg {
    background-color: rgba(255, 255, 255, .30); 
}

.round-borders {
border-radius: 12px;
}

.close-min-max-btns {
margin-right: 10px;
font-size: small;
}

.text-green {
color: #27C93F;
color: #00FF00;
}

.text-yellow {
color: #FFBD2E;
color: #e6e600;
}

.text-red {
color: #FF5F56;
color: #db2f2f;
}

.hidden {
display: none;
}

#catquote {
color: white;
background-color: #0005;
padding: 1em;
border-radius: 0 25px 0 25px;
margin: 15px;
}

.overflow-hidden {
    overflow: hidden;
}

.max-width-500px {
    max-width: 500px;
}

/* Icon carrousel */

.scroll {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 10%, #fff 92%, transparent);
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);
}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: #3fd2f9;
    cursor: pointer;
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    max-width: 100px;
    scale: 0.8;
}

/* End Icon Carrousel */